<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tahmuras -->
      <package
            uri="http://www.shaniaki.com/tahmuras"
            class="tahmuras.TahmurasPackage"
            genModel="model/tahmuras.genmodel"/>
   </extension>

</plugin>
